<div class="container">
  <!-- < breadcrumb :product, @product > -->
  <p id="notice"><%= notice %></p>

  <div class="collection with-header">
    <h2 class="header-list-container header collection-header">Персональные данные</h2>
    <div class="collection-item">
      <%= render 'form' %>
    </div>
  </div>
</div>