/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "font-awesome";
@import "../../../vendor/assets/stylesheets/materialize/materialize.scss";

$attributes-color: color("grey", "darken-1");
$top-header-height: 30px;
$input-placeholder-color: color("blue-grey", "lighten-4");
$secondary-color: color("cyan", "darken-2");
$badge-bg-color: #ee6e73;

.userMenu {
	li {
		float: left;
	}
	li a {
		padding: 0 20px 0 0;
	}
}

footer.page-footer {
  background-color: $secondary-color;
  .footer-copyright {
    //@extend .light;
    @extend .cyan, .darken-3;
  }
}

hr {
	opacity: 0.2;
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-tshop {
	.nav-wrapper {
		position: relative;
	}
	height: 80px;
	.my-header {
		position: relative;
		height: $top-header-height;
		nav {
			@extend .teal, .lighten-1;
			font-size: 11px;
			line-height: $top-header-height;
		}
	}
	.main-header {
		nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
			height: 50px;
			line-height: 50px;
		}
		li {
			height: 50px;
		}
		.input-field {
    		margin-top: 0;
    		width: 600px;
    	}
    	a {
    		font-size: 2rem;
    	}
    	label {
    		font-size: 1.5rem;
    	}
	}

	// placeholder styles
	::-webkit-input-placeholder {color: $input-placeholder-color;}
	::-moz-placeholder          {color: $input-placeholder-color;}/* Firefox 19+ */
	:-moz-placeholder           {color: $input-placeholder-color;}/* Firefox 18- */
	:-ms-input-placeholder      {color: $input-placeholder-color;}

	#search::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
	#search::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
	#search::-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
	#search::-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
	#search:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
	#search:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
	#search:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
	#search:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}
}

#cart-badge {
	span.badge.new {
		position: absolute;
		line-height: 20px;
		min-width: auto;
		left: 38px;
		right: auto;
		top: 4px;
		font-size: 0.7rem;
		background-color: $badge-bg-color;
		
		&:after {
    		content: "";
    	}
	}
}

ul.side-nav.fixed li.logo {
    line-height: 50px;
}
//

.card-image-special {
	height: 250px;

	.card-title {
		opacity: 0.7;
		font-size: 22px;
	}
}

main {
	min-height: 400px;
	background-color: color("blue-grey", "lighten-5");
	.row {
		margin-bottom: auto;
  		padding-bottom: 20px;
	}
}

header, main, footer {
    padding-left: 240px;
}

footer.page-footer {
	margin-top: auto;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
  		padding-left: 0;
	}
	.navbar-tshop {
		.main-header {
			.input-field {
				width: 200px;
			}
		}
	}
}
ul.side-nav {
	opacity: 1;
}
.card-special {
	padding-left: 15px;
    padding-right: 15px;
}
.card-image-special span {
	background-color: $secondary-color;
}
//ul.side-nav.fixed:hover {
    //box-shadow: 0 px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//}
.card-special-hover {
	display: none;
}
.card:hover .card-special-hover {
	display: block;
}

.call-button {
	position: fixed;
	bottom: 60px;
	right: 60px;
	opacity: 0.2;
	&:hover{
		opacity: 1;
	}
}

//---

ul.side-nav.fixed li.logo {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
ul.side-nav.fixed li {
  line-height: 44px;
}


ul.side-nav.fixed li a {
  font-size: 13px;
}
ul.side-nav.full a, ul.side-nav.fixed a {
	color: #444;
	display: block;
	padding: 0 15px;
}
ul.side-nav .collapsible-header {
  background-color: transparent;
  border: medium none;
  height: inherit;
  line-height: inherit;
  margin: 0 1rem;
}
.bold > a {
	font-weight: bold;
}

li.logo {
	background-color: $primary-color;
	.brand-logo {
		font-family: 'Poiret One', cursive;
		//font-family: 'Cinzel Decorative', cursive;
		//font-family: 'Hanalei', cursive;
		//font-family: 'Monofett', cursive;
		//font-family: 'Londrina Shadow', cursive;
		font-size: 35px !important;
		color: #fff !important;
		//@include longshadow(darken($color, 8% ));
	}	
}
li.logo:hover {
	background-color: $primary-color !important;
}
.card-price {
	font-weight: 400;
}
#cart, #order-table {
	.collection-item-cart {
		position: relative;
		padding-left: 135px;
		li {
			color: $attributes-color;
			font-size: 0.9rem;
		}
		.collection-item-container {
			min-height: 80px;
		}
	}
	.collection-image-cart {
		position: absolute;
		left: 15px;
	}
}
.cart-image {
	object-fit: contain;
	-o-object-fit: contain;
	width: 200px;
	&.collection-image-cart {
		width: 100px;
	}
}

.header {
  color: #ee6e73;
  font-weight: 300;
}
.fa-3 {
	font-size: 3em;
}
.fa-2 {
	font-size: 2em;
}
.fa-1 {
	font-size: 1em;
}
#quantity {
	text-align: left;
}
.quantity {
	text-align: center !important;
	width: 80px !important;
}
.btn-submit {
	margin-top: 10px;
}
.collection-unstyled {
	background-color: rgba(255, 255, 255, 0);
}