// Place all the styles related to the Depot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.depot {

  $lineheight: 25px;
  $height: 70px;

  .card a{
    margin-right: auto;
    text-transform: initial;
  }
}