// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 90%;
}
.list_image {
  width: 80px;
  height: 80px;
}