.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  padding: 0 15px;
}

ul.side-nav.full a, ul.side-nav.fixed a {
  color: #444;
  display: block;
  padding: 0 15px;
}

ul.side-nav.full li, ul.side-nav.fixed li {
  float: none;
  padding: 0 15px;
  transition: background-color 0s ease 0s;
  width: 240px;
}

.side-nav-top {
  position: static;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 1.5rem;
  height: auto;
  line-height: auto !important;
}

.header-list-container.header.collection-header {
  margin: 0;
  padding: 20px;
}

nav ul li:hover, nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}