<div class="container">

	<% breadcrumb :product, @product %>

	<div class="section">
	    <h5>Редактирование продукта</h5>
	    <p>Edit</p>
  	</div>
  	
  	<br>

	<%= render 'form' %>

	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %>
</div>