<main>
    <div class="row">

      <%= yield %>

    </div>

    <a href="callto:+8003333733" class="btn-floating btn-large waves-effect waves-light right red call-button">
      <i class="mdi-communication-phone"></i>
    </a>
</main>