<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo">
    <a id="logo-container" href="#" class="brand-logo">WALLSSHOP
    </a>
  </li>
  <li class="bold"><a href="#">Подобрать обои</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header active">Фабрики</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#">Фабрика №1</a></li>
            <!--li class="active"><a href="#">Фабрика №2</a></li-->
            <li><a href="#">Фабрика №2</a></li>
            <li><a href="#">Фабрика №3<span class="badge">10</span></a></li>
            <li><a href="#">Фабрика №4</a></li>
            <li><a href="#">Фабрика №5<span class="badge">400</span></a></li>
            <li><a href="#">Фабрика №6</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="bold"><a href="#">Скидки!</a></li>
</ul>