<div class="container">
  <% breadcrumb :payment %>
  <p id="notice"><%= notice %></p>

  <div class="collection with-header">
    <h2 class="header-list-container header collection-header">Доставка</h2>
    <div class="collection-item">
      
    </div>
  </div>
</div>