<div class="navbar navbar-tshop navbar-fixed megamenu" role="navigation">

    
      <!--nav-->
      <div class="my-header">

        <nav>

        <div class="container">
          <div class="row">
            <div class="col l6 s6 m6">
              <div class="left side-nav">
                <ul class="userMenu">
                  <li> <a href="#"> <span class="hide-on-small-only">Доставка</span><i class="mdi-action-info-outline hide-on-med-and-up"></i> </a> </li>
                  <li class="phone-number"> <a  href="callto:+8801680531352"> <span> <i class="mdi-notification-phone-in-talk"></i></span> <span class="hide-on-small-only" style="margin-left:5px"> +7 (911) 824 00 99 </span> </a> </li>
                </ul>
              </div>
            </div>
            <div class="col l6 s6 m6 no-margin no-padding">
              <div class="right side-nav">
                <ul class="userMenu">
                  <!--li>
                    <a href="#"><span class="hide-on-small-only"> Мой аккаунт</span> <i class="mdi-action-input hide-on-med-and-up"></i></a>
                  </li-->
                  <li>
                    <a href="#" data-toggle="modal" data-target="#ModalLogin">
                      <span class="hide-on-small-only">Войти</span>
                      <i class="mdi-social-person hide-on-med-and-up"></i>
                    </a>
                  </li>
                  <li class="hide-on-small-only">
                    <a href="#"  data-toggle="modal" data-target="#ModalSignup"> Зарегистрироваться </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </nav>

      </div>

    <!--/nav-->
  
  <!--/.navbar-top-->

    <div class="navbar main-header">


      <nav>

        <div class="container">
          <div class="nav-wrapper">
            <div class="col s12 m12 l12">
              
              <ul class="left side-nav">

                <li>
                  <form>
                    <div class="input-field">
                      <input id="search" type="text" required placeholder=" Найдите обои Вашей мечты!">
                      <label for="search"><i class="mdi-action-search"></i></label>
                    </div>
                  </form>
                </li>

              </ul>


              <ul class="right side-nav">
                
                <li>
                    <a href="#"><i class="mdi-action-shopping-cart"></i></a>
                </li>

              </ul>

            </div>


          </div>

        </div>

      </nav>
    </div>

</div>